.grid-container1 {
  display: grid;
  grid-template-columns: 100%;
	background-color: rgb(212, 245, 235);
	
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(212, 245, 235);
  padding: 10px;
}

.grid-item {
  background-color: rgb(212, 245, 235);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 1px;
  font-size: 30px;
	text-align: center;
	margin: 1px;
}

td {
	text-align: left;
	font-size: 20px;
}

img {
	width: 150px;
	height: 200px;
}

